# Raquel Marques - RML Homework


<br>

To enhance the clarity and organization of this project, please adhere to the following legend to better understand the logic and structure of the documentation:

Legend:
- <span style="color:green">Explanation</span>: Provides detailed reasoning or context for concepts and processes.
- <span style="color:purple">Tips</span>: Offers practical advice or best practices to improve efficiency or outcomes.
- <span style="color:red">Practice</span>: Highlights actionable steps or exercises to apply the concepts.
- <span style="color:blue">Business Context</span>: Connects the technical work to relevant business objectives or scenarios.

---

## <span style="color:green"> LIBRARY </span>

In [ ]:
import os
import kaggle
import pandas as pd

from sklearn.model_selection import train_test_split
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder, StandardScaler

ModuleNotFoundError: No module named 'feature_engine'

## <span style="color:green"> PATH & IMPORT DATA </span>

In [75]:
# Project Directory
project_dir = os.path.join(os.path.expanduser("~"), "OneDrive", "Project_Code", 
                           "ASN-DSA-T5", "19-RML", "Homework")

# Data path
data_raw_path = os.path.join(project_dir, "data", "raw")
os.makedirs(data_raw_path, exist_ok=True)

data_processed_path = os.path.join(project_dir, "data", "processed")
os.makedirs(data_processed_path, exist_ok=True)

data_srcA_path = os.path.join(project_dir, "src", "analytics")
os.makedirs(data_srcA_path, exist_ok=True)

data_srcE_path = os.path.join(project_dir, "src", "EDA")
os.makedirs(data_srcE_path, exist_ok=True)

### <span style="color:green"> IMPORT DATA </span>

Get data straight from kaggle.

In [76]:
# Download data from Kaggle
kaggle.api.authenticate()
kaggle.api.dataset_download_files('thedevastator/higher-education-predictors-of-student-retention', 
                                  path=data_raw_path, 
                                  unzip=True)

Dataset URL: https://www.kaggle.com/datasets/thedevastator/higher-education-predictors-of-student-retention

In [77]:
# Import data toa  dataframe
df_dataset = pd.read_csv(os.path.join(data_raw_path, "dataset.csv"))

## <span style="color:green"> EDA 1 </span>

Initia data exploration to check variable structure, missing observations, and more.

### <span style="color:purple"> Variables </span>

Dataset has 35 variables listed below with some initial screening:

| # | Column | Non-Nulls Count | Dtype | Description | Type | Subtype | Notes | 
| --- | ------ | ---- | ----- | ----- | ----- | ----- | ----- | 
| 0 | Marital status | 4424 | int64 | The marital status of the student. (Categorical) | Qualitative | Nominal |  | 
| 1 | Application mode | 4424 | int64 | The method of application used by the student. (Categorical) | Qualitative | Nominal |  | 
| 2 | Application order | 4424 | int64 | The order in which the student applied. (Numerical) | Qualitative | Ordinal |  | 
| 3 | Course | 4424 | int64 | The course taken by the student. (Categorical) | Qualitative | Nominal |  | 
| 4 | Daytime/evening attendance | 4424 | int64 | Whether the student attends classes during the day or in the evening. (Categorical) | Qualitative | Nominal | Boolean, assume daytime = 1, evening = 0 | 
| 5 | Previous qualification | 4424 | int64 | The qualification obtained by the student before enrolling in higher education. (Categorical) | Qualitative | Nominal |  | 
| 6 | Nacionality | 4424 | int64 | The nationality of the student. (Categorical) | Qualitative | Nominal |  | 
| 7 | Mother's qualification | 4424 | int64 | The qualification of the student's mother. (Categorical) | Qualitative | Nominal |  | 
| 8 | Father's qualification | 4424 | int64 | The qualification of the student's father. (Categorical) | Qualitative | Nominal |  | 
| 9 | Mother's occupation | 4424 | int64 | The occupation of the student's mother. (Categorical) | Qualitative | Nominal |  | 
| 10 | Father's occupation | 4424 | int64 | The occupation of the student's father. (Categorical) | Qualitative | Nominal |  | 
| 11 | Displaced | 4424 | int64 | Whether the student is a displaced person. (Categorical) | Qualitative | Nominal | Boolean, Yes = 1, No = 0 | 
| 12 | Educational special needs | 4424 | int64 | Whether the student has any special educational needs. (Categorical) | Qualitative | Nominal | Boolean, Yes = 1, No = 0 | 
| 13 | Debtor | 4424 | int64 | Whether the student is a debtor. (Categorical) | Qualitative | Nominal | Boolean, Yes = 1, No = 0 | 
| 14 | Tuition fees up to date | 4424 | int64 | Whether the student's tuition fees are up to date. (Categorical) | Qualitative | Nominal | Boolean, Yes = 1, No = 0 | 
| 15 | Gender | 4424 | int64 | The gender of the student. (Categorical) | Qualitative | Nominal | Boolean, assume Male = 1, Female = 0 | 
| 16 | Scholarship holder | 4424 | int64 | Whether the student is a scholarship holder. (Categorical) | Qualitative | Nominal | Boolean, Yes = 1, No = 0 | 
| 17 | Age at enrollment | 4424 | int64 | The age of the student at the time of enrollment. (Numerical) | Quantitative | Discrete |  | 
| 18 | International | 4424 | int64 | Whether the student is an international student. (Categorical) | Qualitative | Nominal | Boolean, Yes = 1, No = 0 | 
| 19 | Curricular units 1st sem (credited) | 4424 | int64 | The number of curricular units credited by the student in the first semester. (Numerical) | Quantitative | Discrete |  | 
| 20 | Curricular units 1st sem (enrolled) | 4424 | int64 | The number of curricular units enrolled by the student in the first semester. (Numerical) | Quantitative | Discrete |  | 
| 21 | Curricular units 1st sem (evaluations) | 4424 | int64 | The number of curricular units evaluated by the student in the first semester. (Numerical) | Quantitative | Discrete |  | 
| 22 | Curricular units 1st sem (approved) | 4424 | int64 | The number of curricular units approved by the student in the first semester. (Numerical) | Quantitative | Discrete |  | 
| 23 | Curricular units 1st sem (grade) | 4424 | float64 | Curricular Units 1st Sem (grade) | Quantitative | Continous |  | 
| 24 | Curricular units 1st sem (without evaluations) | 4424 | int64 | Curricular Units 1st Sem (without Evaluations) | Quantitative | Discrete |  | 
| 25 | Curricular units 2nd sem (credited) | 4424 | int64 | Curricular Units 2nd Sem (credited) | Quantitative | Discrete |  | 
| 26 | Curricular units 2nd sem (enrolled) | 4424 | int64 | Curricular Units 2nd Sem (enrolled) | Quantitative | Discrete |  | 
| 27 | Curricular units 2nd sem (evaluations) | 4424 | int64 | Curricular Units 2nd Sem (evaluations) | Quantitative | Discrete |  | 
| 28 | Curricular units 2nd sem (approved) | 4424 | int64 | Curricular Units 2nd Sem (approved) | Quantitative | Discrete |  | 
| 29 | Curricular units 2nd sem (grade) | 4424 | float64 | Curricular Units 2nd Sem (grade) | Quantitative | Continous |  | 
| 30 | Curricular units 2nd sem (without evaluations) | 4424 | int64 | Curricular Units 2nd Sem (without Evaluations) | Quantitative | Discrete |  | 
| 31 | Unemployment rate | 4424 | float64 | Unemployment Rate | Quantitative | Continous |  | 
| 32 | Inflation rate | 4424 | float64 | Inflation Rate | Quantitative | Continous |  | 
| 33 | GDP | 4424 | float64 | GDP | Quantitative | Continous | Gross Domestic Product | 
| 34 | Target | 4424 | object | Target | Qualitative | Nominal | Dropout / Graduate |

In [78]:
# Check variables
df_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4424 entries, 0 to 4423
Data columns (total 35 columns):
 #   Column                                          Non-Null Count  Dtype
---  ------                                          --------------  -----
 0   Marital status                                  4424 non-null   int64
 1   Application mode                                4424 non-null   int64
 2   Application order                               4424 non-null   int64
 3   Course                                          4424 non-null   int64
 4   Daytime/evening attendance                      4424 non-null   int64
 5   Previous qualification                          4424 non-null   int64
 6   Nacionality                                     4424 non-null   int64
 7   Mother's qualification                          4424 non-null   int64
 8   Father's qualification                          4424 non-null   int64
 9   Mother's occupation                             4424 non-null   int64
 10  Father's occupation                             4424 non-null   int64
 11  Displaced                                       4424 non-null   int64
 12  Educational special needs                       4424 non-null   int64
 13  Debtor                                          4424 non-null   int64
 14  Tuition fees up to date                         4424 non-null   int64
 15  Gender                                          4424 non-null   int64
 16  Scholarship holder                              4424 non-null   int64
 17  Age at enrollment                               4424 non-null   int64
 18  International                                   4424 non-null   int64
 19  Curricular units 1st sem (credited)             4424 non-null   int64
 20  Curricular units 1st sem (enrolled)             4424 non-null   int64
 21  Curricular units 1st sem (evaluations)          4424 non-null   int64
 22  Curricular units 1st sem (approved)             4424 non-null   int64
 23  Curricular units 1st sem (grade)                4424 non-null   float64
 24  Curricular units 1st sem (without evaluations)  4424 non-null   int64
 25  Curricular units 2nd sem (credited)             4424 non-null   int64
 26  Curricular units 2nd sem (enrolled)             4424 non-null   int64
 27  Curricular units 2nd sem (evaluations)          4424 non-null   int64
 28  Curricular units 2nd sem (approved)             4424 non-null   int64
 29  Curricular units 2nd sem (grade)                4424 non-null   float64
 30  Curricular units 2nd sem (without evaluations)  4424 non-null   int64
 31  Unemployment rate                               4424 non-null   float64
 32  Inflation rate                                  4424 non-null   float64
 33  GDP                                             4424 non-null   float64
 34  Target                                          4424 non-null   object
dtypes: float64(5), int64(29), object(1)
memory usage: 1.2+ MB

In [79]:
# First 10 rows of the data
df_dataset.head(10)

,Marital status,Application mode,Application order,Course,Daytime/evening attendance,Previous qualification,Nacionality,Mother's qualification,Father's qualification,Mother's occupation,...,Curricular units 2nd sem (credited),Curricular units 2nd sem (enrolled),Curricular units 2nd sem (evaluations),Curricular units 2nd sem (approved),Curricular units 2nd sem (grade),Curricular units 2nd sem (without evaluations),Unemployment rate,Inflation rate,GDP,Target
0,1,8,5,2,1,1,1,13,10,6,...,0,0,0,0,0.000000,0,10.8,1.4,1.74,Dropout
1,1,6,1,11,1,1,1,1,3,4,...,0,6,6,6,13.666667,0,13.9,-0.3,0.79,Graduate
2,1,1,5,5,1,1,1,22,27,10,...,0,6,0,0,0.000000,0,10.8,1.4,1.74,Dropout
3,1,8,2,15,1,1,1,23,27,6,...,0,6,10,5,12.400000,0,9.4,-0.8,-3.12,Graduate
4,2,12,1,3,0,1,1,22,28,10,...,0,6,6,6,13.000000,0,13.9,-0.3,0.79,Graduate
5,2,12,1,17,0,12,1,22,27,10,...,0,5,17,5,11.500000,5,16.2,0.3,-0.92,Graduate
6,1,1,1,12,1,1,1,13,28,8,...,0,8,8,8,14.345000,0,15.5,2.8,-4.06,Graduate
7,1,9,4,11,1,1,1,22,27,10,...,0,5,5,0,0.000000,0,15.5,2.8,-4.06,Dropout
8,1,1,3,10,1,1,15,1,1,10,...,0,6,7,6,14.142857,0,16.2,0.3,-0.92,Graduate
9,1,1,1,10,1,1,1,1,14,5,...,0,6,14,2,13.500000,0,8.9,1.4,3.51,Dropout

In [80]:
df_dataset.shape

(4424, 35)

In [81]:
df_dataset.columns

Index(['Marital status', 'Application mode', 'Application order', 'Course',
       'Daytime/evening attendance', 'Previous qualification', 'Nacionality',
       'Mother's qualification', 'Father's qualification',
       'Mother's occupation', 'Father's occupation', 'Displaced',
       'Educational special needs', 'Debtor', 'Tuition fees up to date',
       'Gender', 'Scholarship holder', 'Age at enrollment', 'International',
       'Curricular units 1st sem (credited)',
       'Curricular units 1st sem (enrolled)',
       'Curricular units 1st sem (evaluations)',
       'Curricular units 1st sem (approved)',
       'Curricular units 1st sem (grade)',
       'Curricular units 1st sem (without evaluations)',
       'Curricular units 2nd sem (credited)',
       'Curricular units 2nd sem (enrolled)',
       'Curricular units 2nd sem (evaluations)',
       'Curricular units 2nd sem (approved)',
       'Curricular units 2nd sem (grade)',
       'Curricular units 2nd sem (without evaluations)', 'Unemployment rate',
       'Inflation rate', 'GDP', 'Target'],
      dtype='object')

In [82]:
# Check nulls
df_dataset.isna().sum()

Marital status                                    0
Application mode                                  0
Application order                                 0
Course                                            0
Daytime/evening attendance                        0
Previous qualification                            0
Nacionality                                       0
Mother's qualification                            0
Father's qualification                            0
Mother's occupation                               0
Father's occupation                               0
Displaced                                         0
Educational special needs                         0
Debtor                                            0
Tuition fees up to date                           0
Gender                                            0
Scholarship holder                                0
Age at enrollment                                 0
International                                     0
Curricular units 1st sem (credited)               0
Curricular units 1st sem (enrolled)               0
Curricular units 1st sem (evaluations)            0
Curricular units 1st sem (approved)               0
Curricular units 1st sem (grade)                  0
Curricular units 1st sem (without evaluations)    0
Curricular units 2nd sem (credited)               0
Curricular units 2nd sem (enrolled)               0
Curricular units 2nd sem (evaluations)            0
Curricular units 2nd sem (approved)               0
Curricular units 2nd sem (grade)                  0
Curricular units 2nd sem (without evaluations)    0
Unemployment rate                                 0
Inflation rate                                    0
GDP                                               0
Target                                            0
dtype: int64

### <span style="color:green"> Rename Columns </span>

In [83]:
df = df_dataset.copy()

df = df.rename(columns={
    'Marital status' : "marital_status", 
    'Application mode' : "application_mode", 
    'Application order' : "application_order", 
    'Course' : "course",
    'Daytime/evening attendance' : "attendence_daytime", 
    'Previous qualification' : "qualification_previous", 
    'Nacionality' : "nationality",
    "Mother's qualification" : "qualification_mother", 
    "Father's qualification" : "qualification_father",
    "Mother's occupation" : "occupation_mother",
    "Father's occupation" : "occupation_father", 
    'Displaced' : "displaced_yes",
    'Educational special needs' : "special_needs_yes", 
    'Debtor' : "debtor_yes", 
    'Tuition fees up to date' : "tuition_fees_up_to_date",
    'Gender' : "gender_male", 
    'Scholarship holder' : "scholarship_holder", 
    'Age at enrollment' : "age_enrollment", 
    'International' : "international_student_yes",
    'Curricular units 1st sem (credited)' : "curricular_units_1_credited" ,
    'Curricular units 1st sem (enrolled)' : "curricular_units_1_enrolled" ,
    'Curricular units 1st sem (evaluations)' : "curricular_units_1_evaluations" ,
    'Curricular units 1st sem (approved)' : "curricular_units_1_approved" ,
    'Curricular units 1st sem (grade)' : "curricular_units_1_grade" ,
    'Curricular units 1st sem (without evaluations)' : "curricular_units_1_without_evaluations" ,
    'Curricular units 2nd sem (credited)' : "curricular_units_2_credited" ,
    'Curricular units 2nd sem (enrolled)' : "curricular_units_2_enrolled" ,
    'Curricular units 2nd sem (evaluations)' : "curricular_units_2_evaluations" ,
    'Curricular units 2nd sem (approved)' : "curricular_units_2_approved" ,
    'Curricular units 2nd sem (grade)' : "curricular_units_2_grade" ,
    'Curricular units 2nd sem (without evaluations)' : "curricular_units_2_without_evaluations" , 
    'Unemployment rate' : "umemployment_rate",
    'Inflation rate' : "inflation_rate", 
    'GDP' : "GDP", 
    'Target' : "target"
})

### <span style="color:green"> Univariate Analysis </span>

#### <span style="color:green"> Variable: target </span>

Categorical, 3 levels:
- Dropout
- Graduate
- Enrolled

Create new `Retained` column as boolean since the business case is to check students dropout.

In [84]:
# Unique categories
df['target'].unique()

array(['Dropout', 'Graduate', 'Enrolled'], dtype=object)

In [85]:
# Category frequency count
freq_target = df.groupby('target').size().reset_index(name='Count')
total_entries = len(df)
freq_target['Percentage'] = round((freq_target['Count'] / total_entries) * 100 , 2)

freq_target

     target  Count  Percentage
0   Dropout   1421       32.12
1  Enrolled    794       17.95
2  Graduate   2209       49.93

In [86]:
# Create Retained column
df['Retained'] = df["target"].apply(lambda x : 1 if x != "Dropout" else 0)

# Category frequency count
freq_target_status = df.groupby('Retained').size().reset_index(name='Count')
total_entries = len(df)
freq_target_status['Percentage'] = round((freq_target_status['Count'] / total_entries) * 100 , 2)

freq_target_status

   Retained  Count  Percentage
0         0   1421       32.12
1         1   3003       67.88

#### <span style="color:green"> Variable: marital_status </span>

Categorical, 6 levels.

In [87]:
# Unique categories
print(df['marital_status'].unique())

# Category frequency count
freq_marital_status = df.groupby('marital_status').size().reset_index(name='Count')
total_entries = len(df)
freq_marital_status['Percentage'] = round((freq_marital_status['Count'] / total_entries) * 100 , 2)

freq_marital_status

[1 2 4 3 5 6]

   marital_status  Count  Percentage
0               1   3919       88.58
1               2    379        8.57
2               3      4        0.09
3               4     91        2.06
4               5     25        0.57
5               6      6        0.14

#### <span style="color:green"> Variable: application_mode </span>

Categorical, 18 levels.
Might need aggregate some categories.

In [88]:
# Unique categories
print(df['application_mode'].unique())

# Category frequency count
freq_application_mode = df.groupby('application_mode').size().reset_index(name='Count')
total_entries = len(df)
freq_application_mode['Percentage'] = round((freq_application_mode['Count'] / total_entries) * 100 , 2)

freq_application_mode

[ 8  6  1 12  9 17 15 16 14  4 13  7  3  2  5 18 10 11]

    application_mode  Count  Percentage
0                  1   1708       38.61
1                  2      3        0.07
2                  3     16        0.36
3                  4    139        3.14
4                  5     10        0.23
5                  6     30        0.68
6                  7     38        0.86
7                  8    872       19.71
8                  9    124        2.80
9                 10      1        0.02
10                11      1        0.02
11                12    785       17.74
12                13     77        1.74
13                14    312        7.05
14                15    213        4.81
15                16     59        1.33
16                17     35        0.79
17                18      1        0.02

#### <span style="color:green"> Variable: application_order </span>

Categorical, 8 levels.

In [89]:
# Unique categories
print(df['application_order'].unique())

# Category frequency count
freq_application_order = df.groupby('application_order').size().reset_index(name='Count')
total_entries = len(df)
freq_application_order['Percentage'] = round((freq_application_order['Count'] / total_entries) * 100 , 2)

freq_application_order

[5 1 2 4 3 6 9 0]

   application_order  Count  Percentage
0                  0      1        0.02
1                  1   3026       68.40
2                  2    547       12.36
3                  3    309        6.98
4                  4    249        5.63
5                  5    154        3.48
6                  6    137        3.10
7                  9      1        0.02

#### <span style="color:green"> Variable: course </span>

Category, 17 levels.
Might need aggregate some categories.

In [90]:
# Unique categories
print(df['course'].unique())

# Category frequency count
freq_course = df.groupby('course').size().reset_index(name='Count')
total_entries = len(df)
freq_course['Percentage'] = round((freq_course['Count'] / total_entries) * 100 , 2)

freq_course

[ 2 11  5 15  3 17 12 10 14 16  6  8 13  9  4  1  7]

    course  Count  Percentage
0        1     12        0.27
1        2    215        4.86
2        3    215        4.86
3        4    210        4.75
4        5    226        5.11
5        6    337        7.62
6        7    170        3.84
7        8    141        3.19
8        9    380        8.59
9       10    355        8.02
10      11    252        5.70
11      12    766       17.31
12      13     86        1.94
13      14    268        6.06
14      15    331        7.48
15      16    192        4.34
16      17    268        6.06

#### <span style="color:green"> Variable: attendence_daytime </span>

Categorical, 2 levels.
- daytime = 1
- evening = 0

In [91]:
# Unique categories
print(df['attendence_daytime'].unique())

# Category frequency count
freq_attendence_daytime = df.groupby('attendence_daytime').size().reset_index(name='Count')
total_entries = len(df)
freq_attendence_daytime['Percentage'] = round((freq_attendence_daytime['Count'] / total_entries) * 100 , 2)

freq_attendence_daytime

[1 0]

   attendence_daytime  Count  Percentage
0                   0    483       10.92
1                   1   3941       89.08

#### <span style="color:green"> Variable: qualification_previous </span>

Categorical, 17 levels.
Might need aggregate some categories.

In [92]:
# Unique categories
print(df['qualification_previous'].unique())

# Category frequency count
freq_qualification_previous = df.groupby('qualification_previous').size().reset_index(name='Count')
total_entries = len(df)
freq_qualification_previous['Percentage'] = round((freq_qualification_previous['Count'] / total_entries) * 100 , 2)

freq_qualification_previous

[ 1 12 16 14  8  3 15  2  4  9 17 11  6  7 13  5 10]

    qualification_previous  Count  Percentage
0                        1   3717       84.02
1                        2     23        0.52
2                        3    126        2.85
3                        4      8        0.18
4                        5      1        0.02
5                        6     16        0.36
6                        7     11        0.25
7                        8      4        0.09
8                        9     45        1.02
9                       10      1        0.02
10                      11      2        0.05
11                      12    162        3.66
12                      13      7        0.16
13                      14    219        4.95
14                      15     40        0.90
15                      16     36        0.81
16                      17      6        0.14

#### <span style="color:green"> Variable: nationality </span>

Categorical, 21 levels.
Might need aggregate some categories.

- Nationality 1 has 97% of the observations.

In [93]:
# Unique categories
print(df['nationality'].unique())

# Category frequency count
freq_nationality = df.groupby('nationality').size().reset_index(name='Count')
total_entries = len(df)
freq_nationality['Percentage'] = round((freq_nationality['Count'] / total_entries) * 100 , 2)

freq_nationality

[ 1 15  3 14 12 18  5 11  8 17  4  9 13 16 10 21  2 20 19  6  7]

    nationality  Count  Percentage
0             1   4314       97.51
1             2      2        0.05
2             3     13        0.29
3             4      3        0.07
4             5      1        0.02
5             6      1        0.02
6             7      1        0.02
7             8      2        0.05
8             9     13        0.29
9            10      5        0.11
10           11      2        0.05
11           12     14        0.32
12           13      1        0.02
13           14     38        0.86
14           15      2        0.05
15           16      3        0.07
16           17      2        0.05
17           18      3        0.07
18           19      2        0.05
19           20      1        0.02
20           21      1        0.02

#### <span style="color:green"> Variable: qualification_mother </span>

Categorical, 29 levels.
Might need aggregate some categories.

In [94]:
# Unique categories
print(df['qualification_mother'].unique())

# Category frequency count
freq_qualification_mother = df.groupby('qualification_mother').size().reset_index(name='Count')
total_entries = len(df)
freq_qualification_mother['Percentage'] = round((freq_qualification_mother['Count'] / total_entries) * 100 , 2)

freq_qualification_mother

[13  1 22 23  3  4 27  2 19 10 25  7  5 24  9 26 18 11 20 21  6  8 17 28
 12 14 16 15 29]

    qualification_mother  Count  Percentage
0                      1   1069       24.16
1                      2     83        1.88
2                      3    438        9.90
3                      4     49        1.11
4                      5     21        0.47
5                      6      4        0.09
6                      7      8        0.18
7                      8      3        0.07
8                      9      3        0.07
9                     10     42        0.95
10                    11      2        0.05
11                    12      1        0.02
12                    13    953       21.54
13                    14      1        0.02
14                    15      1        0.02
15                    16      1        0.02
16                    17      3        0.07
17                    18      3        0.07
18                    19    130        2.94
19                    20      3        0.07
20                    21      3        0.07
21                    22   1009       22.81
22                    23    562       12.70
23                    24      8        0.18
24                    25      9        0.20
25                    26      6        0.14
26                    27      4        0.09
27                    28      4        0.09
28                    29      1        0.02

#### <span style="color:green"> Variable: qualification_father </span>

Categorical, 34 levels.
Might need aggregate some categories.

In [95]:
# Unique categories
print(df['qualification_father'].unique())

# Category frequency count
freq_qualification_father = df.groupby('qualification_father').size().reset_index(name='Count')
total_entries = len(df)
freq_qualification_father['Percentage'] = round((freq_qualification_father['Count'] / total_entries) * 100 , 2)

freq_qualification_father

[10  3 27 28  1 14  5  4 24  2 29  9  7 26 18 30 12 15 25 31 16 11 20 33
 13 32  8  6 21 17 34 23 19 22]

    qualification_father  Count  Percentage
0                      1    904       20.43
1                      2     68        1.54
2                      3    282        6.37
3                      4     39        0.88
4                      5     18        0.41
5                      6      2        0.05
6                      7      5        0.11
7                      8      2        0.05
8                      9     10        0.23
9                     10     38        0.86
10                    11      1        0.02
11                    12      4        0.09
12                    13      1        0.02
13                    14    968       21.88
14                    15      1        0.02
15                    16      4        0.09
16                    17      1        0.02
17                    18      2        0.05
18                    19      1        0.02
19                    20      3        0.07
20                    21      4        0.09
21                    22      1        0.02
22                    23      1        0.02
23                    24    112        2.53
24                    25      2        0.05
25                    26      8        0.18
26                    27   1209       27.33
27                    28    702       15.87
28                    29     20        0.45
29                    30      5        0.11
30                    31      2        0.05
31                    32      1        0.02
32                    33      2        0.05
33                    34      1        0.02

#### <span style="color:green"> Variable: occupation_mother </span>

Categorical, 32 levels.
Might need aggregate some categories.

In [96]:
# Unique categories
print(df['occupation_mother'].unique())

# Category frequency count
freq_occupation_mother = df.groupby('occupation_mother').size().reset_index(name='Count')
total_entries = len(df)
freq_occupation_mother['Percentage'] = round((freq_occupation_mother['Count'] / total_entries) * 100 , 2)

freq_occupation_mother

[ 6  4 10  8  5  2 16  1  7  3 12  9 20 28 13 29 23 32 30 18 24 19 11 21
 15 27 31 14 22 17 26 25]

    occupation_mother  Count  Percentage
0                   1    144        3.25
1                   2    102        2.31
2                   3    318        7.19
3                   4    351        7.93
4                   5    817       18.47
5                   6    530       11.98
6                   7     91        2.06
7                   8    272        6.15
8                   9     36        0.81
9                  10   1577       35.65
10                 11      4        0.09
11                 12     70        1.58
12                 13     17        0.38
13                 14      2        0.05
14                 15      7        0.16
15                 16      1        0.02
16                 17      1        0.02
17                 18      3        0.07
18                 19      4        0.09
19                 20      8        0.18
20                 21      3        0.07
21                 22      6        0.14
22                 23      3        0.07
23                 24      2        0.05
24                 25      2        0.05
25                 26      1        0.02
26                 27      1        0.02
27                 28      5        0.11
28                 29     26        0.59
29                 30      5        0.11
30                 31      4        0.09
31                 32     11        0.25

#### <span style="color:green"> Variable: occupation_father </span>

Categorical, 46 levels.
Might need aggregate some categories.

In [97]:
# Unique categories
print(df['occupation_father'].unique())

# Category frequency count
freq_occupation_father = df.groupby('occupation_father').size().reset_index(name='Count')
total_entries = len(df)
freq_occupation_father['Percentage'] = round((freq_occupation_father['Count'] / total_entries) * 100 , 2)

freq_occupation_father

[10  4  8 11  6  9  5  2  3 22  7  1 12 39 19 13 29 46 43 34 44 30 41 24
 23 45 35 26 28 36 16 37 31 42 20 15 40 25 21 17 32 38 27 18 14 33]

    occupation_father  Count  Percentage
0                   1    128        2.89
1                   2    134        3.03
2                   3    197        4.45
3                   4    384        8.68
4                   5    386        8.73
5                   6    516       11.66
6                   7    242        5.47
7                   8    666       15.05
8                   9    318        7.19
9                  10   1010       22.83
10                 11    266        6.01
11                 12     65        1.47
12                 13     19        0.43
13                 14      1        0.02
14                 15      2        0.05
15                 16      4        0.09
16                 17      2        0.05
17                 18      1        0.02
18                 19      1        0.02
19                 20      2        0.05
20                 21      3        0.07
21                 22      1        0.02
22                 23      1        0.02
23                 24      1        0.02
24                 25      1        0.02
25                 26      3        0.07
26                 27      1        0.02
27                 28      1        0.02
28                 29      8        0.18
29                 30      2        0.05
30                 31      3        0.07
31                 32      1        0.02
32                 33      1        0.02
33                 34      1        0.02
34                 35      5        0.11
35                 36      8        0.18
36                 37      2        0.05
37                 38      1        0.02
38                 39      4        0.09
39                 40      3        0.07
40                 41      2        0.05
41                 42      3        0.07
42                 43      6        0.14
43                 44     15        0.34
44                 45      2        0.05
45                 46      1        0.02

#### <span style="color:green"> Variable: displaced_yes </span>

In [98]:
# Unique categories
print(df['displaced_yes'].unique())

# Category frequency count
freq_displaced_yes = df.groupby('displaced_yes').size().reset_index(name='Count')
total_entries = len(df)
freq_displaced_yes['Percentage'] = round((freq_displaced_yes['Count'] / total_entries) * 100 , 2)

freq_displaced_yes

[1 0]

   displaced_yes  Count  Percentage
0              0   1998       45.16
1              1   2426       54.84

#### <span style="color:green"> Variable: special_needs_yes </span>

In [99]:
# Unique categories
print(df['special_needs_yes'].unique())

# Category frequency count
freq_special_needs_yes = df.groupby('special_needs_yes').size().reset_index(name='Count')
total_entries = len(df)
freq_special_needs_yes['Percentage'] = round((freq_special_needs_yes['Count'] / total_entries) * 100 , 2)

freq_special_needs_yes

[0 1]

   special_needs_yes  Count  Percentage
0                  0   4373       98.85
1                  1     51        1.15

#### <span style="color:green"> Variable: debtor_yes </span>

In [100]:
# Unique categories
print(df['debtor_yes'].unique())

# Category frequency count
freq_debtor_yes = df.groupby('debtor_yes').size().reset_index(name='Count')
total_entries = len(df)
freq_debtor_yes['Percentage'] = round((freq_debtor_yes['Count'] / total_entries) * 100 , 2)

freq_debtor_yes

[0 1]

   debtor_yes  Count  Percentage
0           0   3921       88.63
1           1    503       11.37

#### <span style="color:green"> Variable: tuition_fees_up_to_date </span>

In [101]:
# Unique categories
print(df['tuition_fees_up_to_date'].unique())

# Category frequency count
freq_tuition_fees_up_to_date = df.groupby('tuition_fees_up_to_date').size().reset_index(name='Count')
total_entries = len(df)
freq_tuition_fees_up_to_date['Percentage'] = round((freq_tuition_fees_up_to_date['Count'] / total_entries) * 100 , 2)

freq_tuition_fees_up_to_date

[1 0]

   tuition_fees_up_to_date  Count  Percentage
0                        0    528       11.93
1                        1   3896       88.07

#### <span style="color:green"> Variable: gender_male </span>

In [102]:
# Unique categories
print(df['gender_male'].unique())

# Category frequency count
freq_gender_male = df.groupby('gender_male').size().reset_index(name='Count')
total_entries = len(df)
freq_gender_male['Percentage'] = round((freq_gender_male['Count'] / total_entries) * 100 , 2)

freq_gender_male

[1 0]

   gender_male  Count  Percentage
0            0   2868       64.83
1            1   1556       35.17

#### <span style="color:green"> Variable: scholarship_holder </span>

In [103]:
# Unique categories
print(df['scholarship_holder'].unique())

# Category frequency count
freq_scholarship_holder = df.groupby('scholarship_holder').size().reset_index(name='Count')
total_entries = len(df)
freq_scholarship_holder['Percentage'] = round((freq_scholarship_holder['Count'] / total_entries) * 100 , 2)

freq_scholarship_holder

[0 1]

   scholarship_holder  Count  Percentage
0                   0   3325       75.16
1                   1   1099       24.84

#### <span style="color:green"> Variable: age_enrollment </span>

In [104]:
# Descriptive Statistics
print(df['age_enrollment'].describe())

count    4424.000000
mean       23.265145
std         7.587816
min        17.000000
25%        19.000000
50%        20.000000
75%        25.000000
max        70.000000
Name: age_enrollment, dtype: float64

#### <span style="color:green"> Variable: international_student_yes </span>

In [105]:
# Unique categories
print(df['international_student_yes'].unique())

# Category frequency count
freq_international_student_yes = df.groupby('international_student_yes').size().reset_index(name='Count')
total_entries = len(df)
freq_international_student_yes['Percentage'] = round((freq_international_student_yes['Count'] / total_entries) * 100 , 2)

freq_international_student_yes

[0 1]

   international_student_yes  Count  Percentage
0                          0   4314       97.51
1                          1    110        2.49

#### <span style="color:green"> Variable: curricular_units </span>

In [106]:
sem1_columns = [
    'curricular_units_1_credited', 
    'curricular_units_1_enrolled', 
    'curricular_units_1_evaluations', 
    'curricular_units_1_approved', 
    'curricular_units_1_grade', 
    'curricular_units_1_without_evaluations'
]

df[sem1_columns].describe().T

,count,mean,std,min,25%,50%,75%,max
curricular_units_1_credited,4424.0,0.709991,2.360507,0.0,0.0,0.000000,0.0,20.000
curricular_units_1_enrolled,4424.0,6.270570,2.480178,0.0,5.0,6.000000,7.0,26.000
curricular_units_1_evaluations,4424.0,8.299051,4.179106,0.0,6.0,8.000000,10.0,45.000
curricular_units_1_approved,4424.0,4.706600,3.094238,0.0,3.0,5.000000,6.0,26.000
curricular_units_1_grade,4424.0,10.640822,4.843663,0.0,11.0,12.285714,13.4,18.875
curricular_units_1_without_evaluations,4424.0,0.137658,0.690880,0.0,0.0,0.000000,0.0,12.000

In [107]:
sem2_columns = [
    'curricular_units_2_credited', 
    'curricular_units_2_enrolled', 
    'curricular_units_2_evaluations', 
    'curricular_units_2_approved', 
    'curricular_units_2_grade', 
    'curricular_units_2_without_evaluations'
]

df[sem2_columns].describe().T

,count,mean,std,min,25%,50%,75%,max
curricular_units_2_credited,4424.0,0.541817,1.918546,0.0,0.00,0.0,0.000000,19.000000
curricular_units_2_enrolled,4424.0,6.232143,2.195951,0.0,5.00,6.0,7.000000,23.000000
curricular_units_2_evaluations,4424.0,8.063291,3.947951,0.0,6.00,8.0,10.000000,33.000000
curricular_units_2_approved,4424.0,4.435805,3.014764,0.0,2.00,5.0,6.000000,20.000000
curricular_units_2_grade,4424.0,10.230206,5.210808,0.0,10.75,12.2,13.333333,18.571429
curricular_units_2_without_evaluations,4424.0,0.150316,0.753774,0.0,0.00,0.0,0.000000,12.000000

#### <span style="color:green"> Variable: Macro economics </span>

In [108]:
macro_econ_columns = [
    'umemployment_rate',
    'inflation_rate',
    'GDP'
]

df[macro_econ_columns].describe().T

                    count       mean       std   min  25%    50%    75%    max
umemployment_rate  4424.0  11.566139  2.663850  7.60  9.4  11.10  13.90  16.20
inflation_rate     4424.0   1.228029  1.382711 -0.80  0.3   1.40   2.60   3.70
GDP                4424.0   0.001969  2.269935 -4.06 -1.7   0.32   1.79   3.51

### <span style="color:green"> Transform Categorical variables into category </span>

Most of them are still marked as integers, let's make them an object.

In [109]:
categorical_variables = [
    "marital_status", 
    "application_mode", 
    "application_order", 
    "course",
    # "attendence_daytime", 
    "qualification_previous", 
    "nationality",
    "qualification_mother", 
    "qualification_father",
    "occupation_mother",
    "occupation_father", 
    # "displaced_yes",
    # "special_needs_yes", 
    # "debtor_yes", 
    # "tuition_fees_up_to_date",
    # "gender_male", 
    # "scholarship_holder", 
    # "international_student_yes",
]

for var in categorical_variables:
    df[var] = df[var].astype('object')

# df.info()

In [110]:
# Drop target variable
df = df.drop('target', axis=1)

### <span style="color:green"> Bivariate Analysis </span>

Let's analyse our variables with the traget variable `Retained`.

#### <span style="color:green"> Variable: marital_status </span>

- Most of our data is on level 1
- Probability of Student being `Retained` is ~0.70 if `marital_status = 1`
- We have some diffences between each level, which should be a good predictor.

In [111]:
#### Variable: marital_status
df.groupby('marital_status')['Retained'].agg(['sum', 'count', 'mean']).sort_values('sum', ascending=False)

                 sum  count      mean
marital_status
1               2735   3919  0.697882
2                200    379  0.527704
4                 49     91  0.538462
5                 14     25  0.560000
3                  3      4  0.750000
6                  2      6  0.333333

#### <span style="color:green"> Variable: application_mode </span>

In [112]:
#### Variable: application_mode
df.groupby('application_mode')['Retained'].agg(['sum', 'count', 'mean']).sort_values('sum', ascending=False)

                   sum  count      mean
application_mode
1                 1363   1708  0.798009
8                  616    872  0.706422
12                 350    785  0.445860
14                 197    312  0.631410
15                 150    213  0.704225
9                   79    124  0.637097
4                   54    139  0.388489
13                  43     77  0.558442
16                  39     59  0.661017
7                   33     38  0.868421
17                  31     35  0.885714
6                   25     30  0.833333
3                   14     16  0.875000
5                    7     10  0.700000
18                   1      1  1.000000
2                    1      3  0.333333
11                   0      1  0.000000
10                   0      1  0.000000

#### <span style="color:green"> Variable: application_order </span>

In [113]:
#### Variable: application_order
df.groupby('application_order')['Retained'].agg(['sum', 'count', 'mean']).sort_values('sum', ascending=False)

                    sum  count      mean
application_order
1                  1973   3026  0.652016
2                   397    547  0.725777
3                   233    309  0.754045
4                   191    249  0.767068
6                   106    137  0.773723
5                   101    154  0.655844
0                     1      1  1.000000
9                     1      1  1.000000

#### <span style="color:green"> Variable: course </span>

In [114]:
#### Variable: course
df.groupby('course')['Retained'].agg(['sum', 'count', 'mean']).sort_values('sum', ascending=False)

        sum  count      mean
course
12      648    766  0.845953
10      290    355  0.816901
6       247    337  0.732938
9       246    380  0.647368
15      230    331  0.694864
5       175    226  0.774336
14      173    268  0.645522
11      156    252  0.619048
3       144    215  0.669767
2       133    215  0.618605
17      132    268  0.492537
4       124    210  0.590476
16      107    192  0.557292
7        78    170  0.458824
8        63    141  0.446809
13       53     86  0.616279
1         4     12  0.333333

#### <span style="color:green"> Variable: attendence_daytime </span>

In [115]:
#### Variable: attendence_daytime
df.groupby('attendence_daytime')['Retained'].agg(['sum', 'count', 'mean']).sort_values('sum', ascending=False)

                     sum  count      mean
attendence_daytime
1                   2727   3941  0.691956
0                    276    483  0.571429

#### <span style="color:green"> Variable: qualification_previous </span>

In [116]:
#### Variable: qualification_previous
df.groupby('qualification_previous')['Retained'].agg(['sum', 'count', 'mean']).sort_values('sum', ascending=False)

                         sum  count      mean
qualification_previous
1                       2639   3717  0.709981
14                       150    219  0.684932
12                        58    162  0.358025
3                         51    126  0.404762
16                        30     36  0.833333
15                        26     40  0.650000
9                         19     45  0.422222
6                          9     16  0.562500
2                          7     23  0.304348
13                         4      7  0.571429
4                          4      8  0.500000
17                         4      6  0.666667
8                          1      4  0.250000
11                         1      2  0.500000
10                         0      1  0.000000
7                          0     11  0.000000
5                          0      1  0.000000

#### <span style="color:green"> Variable: nationality </span>

In [117]:
#### Variable: nationality
df.groupby('nationality')['Retained'].agg(['sum', 'count', 'mean']).sort_values('sum', ascending=False)

              sum  count      mean
nationality
1            2925   4314  0.678025
14             24     38  0.631579
12             13     14  0.928571
3               9     13  0.692308
9               9     13  0.692308
10              4      5  0.800000
4               3      3  1.000000
2               2      2  1.000000
18              2      3  0.666667
15              2      2  1.000000
11              2      2  1.000000
8               1      2  0.500000
13              1      1  1.000000
6               1      1  1.000000
16              1      3  0.333333
17              1      2  0.500000
5               1      1  1.000000
19              1      2  0.500000
20              1      1  1.000000
7               0      1  0.000000
21              0      1  0.000000

#### <span style="color:green"> Variable: qualification_mother </span>

In [118]:
#### Variable: qualification_mother
df.groupby('qualification_mother')['Retained'].agg(['sum', 'count', 'mean']).sort_values('sum', ascending=False)

                      sum  count      mean
qualification_mother
1                     769   1069  0.719364
13                    682    953  0.715635
22                    626   1009  0.620416
23                    422    562  0.750890
3                     299    438  0.682648
2                      63     83  0.759036
4                      41     49  0.836735
19                     34    130  0.261538
10                     20     42  0.476190
5                      13     21  0.619048
25                      6      9  0.666667
26                      4      6  0.666667
24                      4      8  0.500000
7                       3      8  0.375000
28                      3      4  0.750000
27                      2      4  0.500000
17                      2      3  0.666667
18                      2      3  0.666667
21                      1      3  0.333333
15                      1      1  1.000000
20                      1      3  0.333333
14                      1      1  1.000000
11                      1      2  0.500000
9                       1      3  0.333333
8                       1      3  0.333333
6                       1      4  0.250000
16                      0      1  0.000000
12                      0      1  0.000000
29                      0      1  0.000000

#### <span style="color:green"> Variable: qualification_father </span>

In [119]:
#### Variable: qualification_father
df.groupby('qualification_father')['Retained'].agg(['sum', 'count', 'mean']).sort_values('sum', ascending=False)

                      sum  count      mean
qualification_father
27                    777   1209  0.642680
14                    704    968  0.727273
1                     623    904  0.689159
28                    535    702  0.762108
3                     192    282  0.680851
2                      46     68  0.676471
24                     31    112  0.276786
4                      25     39  0.641026
10                     24     38  0.631579
29                     12     20  0.600000
5                       8     18  0.444444
9                       6     10  0.600000
7                       4      5  0.800000
21                      3      4  0.750000
12                      3      4  0.750000
26                      3      8  0.375000
30                      2      5  0.400000
33                      2      2  1.000000
32                      1      1  1.000000
31                      1      2  0.500000
18                      1      2  0.500000
22                      0      1  0.000000
23                      0      1  0.000000
20                      0      3  0.000000
25                      0      2  0.000000
19                      0      1  0.000000
17                      0      1  0.000000
16                      0      4  0.000000
15                      0      1  0.000000
13                      0      1  0.000000
11                      0      1  0.000000
8                       0      2  0.000000
6                       0      2  0.000000
34                      0      1  0.000000

#### <span style="color:green"> Variable: occupation_mother </span>

In [120]:
#### Variable: occupation_mother
df.groupby('occupation_mother')['Retained'].agg(['sum', 'count', 'mean']).sort_values('sum', ascending=False)

                    sum  count      mean
occupation_mother
10                 1087   1577  0.689283
5                   569    817  0.696450
6                   374    530  0.705660
4                   256    351  0.729345
3                   216    318  0.679245
8                   192    272  0.705882
7                    65     91  0.714286
2                    63    102  0.617647
1                    45    144  0.312500
29                   26     26  1.000000
9                    21     36  0.583333
12                   19     70  0.271429
32                   10     11  0.909091
20                    8      8  1.000000
22                    6      6  1.000000
15                    5      7  0.714286
30                    5      5  1.000000
28                    4      5  0.800000
13                    4     17  0.235294
23                    3      3  1.000000
31                    3      4  0.750000
18                    3      3  1.000000
19                    3      4  0.750000
21                    3      3  1.000000
11                    3      4  0.750000
14                    2      2  1.000000
25                    2      2  1.000000
24                    2      2  1.000000
27                    1      1  1.000000
26                    1      1  1.000000
16                    1      1  1.000000
17                    1      1  1.000000

#### <span style="color:green"> Variable: occupation_father </span>

In [121]:
#### Variable: occupation_father
df.groupby('occupation_father')['Retained'].agg(['sum', 'count', 'mean']).sort_values('sum', ascending=False)

                   sum  count      mean
occupation_father
10                 687   1010  0.680198
8                  482    666  0.723724
6                  368    516  0.713178
4                  270    384  0.703125
5                  247    386  0.639896
9                  224    318  0.704403
11                 181    266  0.680451
7                  173    242  0.714876
3                  127    197  0.644670
2                   86    134  0.641791
1                   46    128  0.359375
12                  19     65  0.292308
44                  13     15  0.866667
36                   8      8  1.000000
29                   8      8  1.000000
13                   6     19  0.315789
43                   6      6  1.000000
35                   5      5  1.000000
39                   4      4  1.000000
42                   3      3  1.000000
21                   3      3  1.000000
40                   3      3  1.000000
26                   3      3  1.000000
16                   3      4  0.750000
20                   2      2  1.000000
41                   2      2  1.000000
15                   2      2  1.000000
37                   2      2  1.000000
30                   2      2  1.000000
31                   2      3  0.666667
38                   1      1  1.000000
34                   1      1  1.000000
45                   1      2  0.500000
24                   1      1  1.000000
33                   1      1  1.000000
32                   1      1  1.000000
28                   1      1  1.000000
27                   1      1  1.000000
25                   1      1  1.000000
23                   1      1  1.000000
22                   1      1  1.000000
19                   1      1  1.000000
18                   1      1  1.000000
17                   1      2  0.500000
14                   1      1  1.000000
46                   1      1  1.000000

#### <span style="color:green"> Variable: displaced_yes </span>

In [122]:
#### Variable: displaced_yes
df.groupby('displaced_yes')['Retained'].agg(['sum', 'count', 'mean']).sort_values('sum', ascending=False)

                sum  count      mean
displaced_yes
1              1757   2426  0.724237
0              1246   1998  0.623624

#### <span style="color:green"> Variable: special_needs_yes </span>

- Even though there are more students with no special needs, the proportion of `Retained` is very similar to both levels of this variable.

In [123]:
#### Variable: special_needs_yes
df.groupby('special_needs_yes')['Retained'].agg(['sum', 'count', 'mean']).sort_values('sum', ascending=False)

                    sum  count      mean
special_needs_yes
0                  2969   4373  0.678939
1                    34     51  0.666667

#### <span style="color:green"> Variable: debtor_yes </span>

- There are more students with no debt, and the probability of not dropping out is ~0.72, meaning that they are more likely to stay.
- On the other hand, students with debt have a probability of not dropping out os ~0.38, meaning theat they are more likely to drop.

In [124]:
#### Variable: debtor_yes
df.groupby('debtor_yes')['Retained'].agg(['sum', 'count', 'mean']).sort_values('sum', ascending=False)

             sum  count      mean
debtor_yes
0           2812   3921  0.717164
1            191    503  0.379722

#### <span style="color:green"> Variable: tuition_fees_up_to_date </span>

- Similar case as the above.
- There are more students with tuitions paid up-to-date and the probability of them not dropping out is 0.75, meaning that they are more likely to stay.
- On the other hand, students that don't have their tuitions up-to-date have a probability of not dropping out of 0.13, meaning theat they are more likely to drop.

In [125]:
#### Variable: tuition_fees_up_to_date
df.groupby('tuition_fees_up_to_date')['Retained'].agg(['sum', 'count', 'mean']).sort_values('sum', ascending=False)

                          sum  count      mean
tuition_fees_up_to_date
1                        2932   3896  0.752567
0                          71    528  0.134470

#### <span style="color:green"> Variable: gender_male </span>

In [126]:
#### Variable: gender_male
df.groupby('gender_male')['Retained'].agg(['sum', 'count', 'mean']).sort_values('sum', ascending=False)

              sum  count      mean
gender_male
0            2148   2868  0.748954
1             855   1556  0.549486

#### <span style="color:green"> Variable: scholarship_holder </span>

In [127]:
#### Variable: scholarship_holder
df.groupby('scholarship_holder')['Retained'].agg(['sum', 'count', 'mean']).sort_values('sum', ascending=False)

                     sum  count      mean
scholarship_holder
0                   2038   3325  0.612932
1                    965   1099  0.878071

#### <span style="color:green"> Variable: age_enrollment </span>

In [128]:
#### Variable: age_enrollment
df.groupby('age_enrollment')['Retained'].agg(['sum', 'count', 'mean']).sort_values('sum', ascending=False)

                sum  count      mean
age_enrollment
18              834   1036  0.805019
19              704    911  0.772777
20              466    599  0.777963
21              229    322  0.711180
22              116    174  0.666667
24               75    131  0.572519
23               67    108  0.620370
25               46     93  0.494624
26               42     94  0.446809
27               36     91  0.395604
28               36     83  0.433735
34               31     60  0.516667
32               28     61  0.459016
33               25     45  0.555556
29               21     66  0.318182
41               20     31  0.645161
35               20     49  0.408163
39               20     38  0.526316
31               19     55  0.345455
30               19     49  0.387755
37               19     42  0.452381
36               14     35  0.400000
43               14     25  0.560000
44               11     21  0.523810
40               10     23  0.434783
38               10     29  0.344828
45                9     22  0.409091
47                7     18  0.388889
50                7     16  0.437500
42                6     13  0.461538
49                6     13  0.461538
46                6     12  0.500000
17                5      5  1.000000
48                4     11  0.363636
52                4      4  1.000000
53                4      7  0.571429
54                3      7  0.428571
51                2      7  0.285714
55                2      5  0.400000
60                2      2  1.000000
57                1      2  0.500000
58                1      3  0.333333
59                1      3  0.333333
62                1      1  1.000000
61                0      1  0.000000
70                0      1  0.000000

#### <span style="color:green"> Variable: international_student_yes </span>

In [129]:
#### Variable: international_student_yes
df.groupby('international_student_yes')['Retained'].agg(['sum', 'count', 'mean']).sort_values('sum', ascending=False)

                            sum  count      mean
international_student_yes
0                          2925   4314  0.678025
1                            78    110  0.709091

#### <span style="color:green"> Variable: curricular_units_1 </span>

In [130]:
#### Variable: curricular_units_1
# Retained
df[df['Retained'] == 1][sem1_columns].describe().T

,count,mean,std,min,25%,50%,75%,max
curricular_units_1_credited,3003.0,0.757576,2.471255,0.0,0.0,0.000000,0.000000,20.000
curricular_units_1_enrolled,3003.0,6.483183,2.522378,0.0,6.0,6.000000,7.000000,26.000
curricular_units_1_evaluations,3003.0,8.558109,3.750399,0.0,7.0,8.000000,10.000000,45.000
curricular_units_1_approved,3003.0,5.726274,2.646821,0.0,5.0,6.000000,6.000000,26.000
curricular_units_1_grade,3003.0,12.242187,3.061753,0.0,11.8,12.714286,13.666667,18.875
curricular_units_1_without_evaluations,3003.0,0.111888,0.634455,0.0,0.0,0.000000,0.000000,12.000

In [131]:
# Dropout
df[df['Retained'] == 0][sem1_columns].describe().T

,count,mean,std,min,25%,50%,75%,max
curricular_units_1_credited,1421.0,0.609430,2.104695,0.0,0.0,0.000000,0.0,18.0
curricular_units_1_enrolled,1421.0,5.821253,2.326304,0.0,5.0,6.000000,6.0,21.0
curricular_units_1_evaluations,1421.0,7.751583,4.921590,0.0,5.0,8.000000,11.0,31.0
curricular_units_1_approved,1421.0,2.551724,2.857588,0.0,0.0,2.000000,4.0,21.0
curricular_units_1_grade,1421.0,7.256656,6.031120,0.0,0.0,10.928571,12.2,18.0
curricular_units_1_without_evaluations,1421.0,0.192118,0.794591,0.0,0.0,0.000000,0.0,8.0

#### <span style="color:green"> Variable: curricular_units_2 </span>

In [132]:
#### Variable: curricular_units_2
# Retained
df[df['Retained'] == 1][sem2_columns].describe().T

,count,mean,std,min,25%,50%,75%,max
curricular_units_2_credited,3003.0,0.585415,2.020617,0.0,0.0,0.00,0.000000,19.000000
curricular_units_2_enrolled,3003.0,6.445887,2.204559,0.0,6.0,6.00,8.000000,23.000000
curricular_units_2_evaluations,3003.0,8.484182,3.381574,0.0,7.0,8.00,10.000000,33.000000
curricular_units_2_approved,3003.0,5.616717,2.432010,0.0,5.0,6.00,7.000000,20.000000
curricular_units_2_grade,3003.0,12.279544,3.035841,0.0,11.8,12.75,13.714286,18.571429
curricular_units_2_without_evaluations,3003.0,0.108891,0.603508,0.0,0.0,0.00,0.000000,12.000000

In [133]:
# Dropout
df[df['Retained'] == 0][sem2_columns].describe().T

,count,mean,std,min,25%,50%,75%,max
curricular_units_2_credited,1421.0,0.449683,1.679548,0.0,0.0,0.0,0.000000,16.000000
curricular_units_2_enrolled,1421.0,5.780436,2.108249,0.0,5.0,6.0,6.000000,18.000000
curricular_units_2_evaluations,1421.0,7.173821,4.817374,0.0,5.0,7.0,10.000000,25.000000
curricular_units_2_approved,1421.0,1.940183,2.573691,0.0,0.0,0.0,4.000000,16.000000
curricular_units_2_grade,1421.0,5.899339,6.118740,0.0,0.0,0.0,11.833333,17.714286
curricular_units_2_without_evaluations,1421.0,0.237861,0.994210,0.0,0.0,0.0,0.000000,12.000000

#### <span style="color:green"> Variable: MAcro Economics </span>

In [134]:
#### Variable: Macro Economics
# Retained
df[df['Retained'] == 1][macro_econ_columns].describe().T

                    count       mean       std   min  25%    50%    75%    max
umemployment_rate  3003.0  11.542358  2.613126  7.60  9.4  11.10  13.90  16.20
inflation_rate     3003.0   1.201565  1.371493 -0.80  0.3   1.40   2.60   3.70
GDP                3003.0   0.074286  2.275279 -4.06 -1.7   0.79   1.79   3.51

In [135]:
# Dropout
df[df['Retained'] == 0][macro_econ_columns].describe().T

                    count       mean       std   min  25%    50%    75%    max
umemployment_rate  1421.0  11.616397  2.768259  7.60  9.4  11.10  13.90  16.20
inflation_rate     1421.0   1.283955  1.404970 -0.80  0.3   1.40   2.60   3.70
GDP                1421.0  -0.150859  2.251768 -4.06 -1.7   0.32   1.74   3.51

## <span style="color:blue"> Business Discussion </span>

Our question here is **predict which students will remain or dropout of their courses** after their first year (2 semesters) using the dataset characteristis we have.
Some characteristics are on their presonal life, like marital status, nationatily, parents occupations.
It is also provided their first 2 semesters performance metrics and some macro economics variables like unemployed rate and inlfation rate.


### <span style="color:purple"> Macro economics variables </span>

These variables are ambiguos, are they from the moment the student dropped out or when they enrolled? 
I would like to remove all these variables initially.


### <span style="color:purple"> Student performance variables </span>

Here we can only imagine that if the students start to perform poorly they will probably drop out of the course.

## <span style="color:green"> Split between Train and Test </span>

In [136]:
X = df.drop('Retained', axis=1)
y = df['Retained']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, stratify=y, random_state=42)

print(f"train target distribution: {y_train.mean():0.4f}")
print(f" test target distribution: {y_test.mean():0.4f}")

train target distribution: 0.6787
 test target distribution: 0.6791

## <span style="color:green"> Pipeline </span>

Our dataset there are no missing values, but we can define some values for the pipeline anyway.

In [ ]:
# Step for Categorical Variables
step_categorical = Pipeline([
    ("imputer", SimpleImputer(strategy="most_frequent")), 
    ("encoder", OneHotEncoder(drop="first", handle_unknown="ignore"))
])

In [ ]:
# Step for Numerical Variables
step_numerical = Pipeline([
    ("imputer", SimpleImputer(strategy="median")), 
    ("scaler", StandardScaler())
])

In [ ]:
# Step for Boolean Variables
boolean_variables = [
    "attendence_daytime", 
    "displaced_yes",
    "special_needs_yes", 
    "debtor_yes", 
    "tuition_fees_up_to_date",
    "gender_male", 
    "scholarship_holder", 
    "international_student_yes",
]

step_imputer_most_frequent = Pipeline([
    ("imputer", SimpleImputer(strategy="most_frequent"))
])

In [ ]:
# Step for dropping variables

In [ ]:
my_pipeline = ColumnTransformer([
    ("cat", step_categorical, categorical variables),
    ("num", step_numerical, variaveis_numericas), 

])

In [137]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4424 entries, 0 to 4423
Data columns (total 35 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   marital_status                          4424 non-null   object
 1   application_mode                        4424 non-null   object
 2   application_order                       4424 non-null   object
 3   course                                  4424 non-null   object
 4   attendence_daytime                      4424 non-null   int64
 5   qualification_previous                  4424 non-null   object
 6   nationality                             4424 non-null   object
 7   qualification_mother                    4424 non-null   object
 8   qualification_father                    4424 non-null   object
 9   occupation_mother                       4424 non-null   object
 10  occupation_father                       4424 non-null   object
 11  displaced_yes                           4424 non-null   int64
 12  special_needs_yes                       4424 non-null   int64
 13  debtor_yes                              4424 non-null   int64
 14  tuition_fees_up_to_date                 4424 non-null   int64
 15  gender_male                             4424 non-null   int64
 16  scholarship_holder                      4424 non-null   int64
 17  age_enrollment                          4424 non-null   int64
 18  international_student_yes               4424 non-null   int64
 19  curricular_units_1_credited             4424 non-null   int64
 20  curricular_units_1_enrolled             4424 non-null   int64
 21  curricular_units_1_evaluations          4424 non-null   int64
 22  curricular_units_1_approved             4424 non-null   int64
 23  curricular_units_1_grade                4424 non-null   float64
 24  curricular_units_1_without_evaluations  4424 non-null   int64
 25  curricular_units_2_credited             4424 non-null   int64
 26  curricular_units_2_enrolled             4424 non-null   int64
 27  curricular_units_2_evaluations          4424 non-null   int64
 28  curricular_units_2_approved             4424 non-null   int64
 29  curricular_units_2_grade                4424 non-null   float64
 30  curricular_units_2_without_evaluations  4424 non-null   int64
 31  umemployment_rate                       4424 non-null   float64
 32  inflation_rate                          4424 non-null   float64
 33  GDP                                     4424 non-null   float64
 34  Retained                                4424 non-null   int64
dtypes: float64(5), int64(20), object(10)
memory usage: 1.2+ MB

In [144]:
df.sample(20).T

,4364,3210,669,1321,883,662,2243,3194,3680,1385,2516,2569,63,3721,868,3269,408,1544,2822,2167
marital_status,1,1,1,1,1,1,1,1,1,1,1,1,1,5,1,1,1,1,1,1
application_mode,8,4,13,1,12,8,8,16,1,1,8,1,8,4,9,14,8,12,15,1
application_order,1,1,1,2,1,4,4,1,1,1,1,2,1,1,1,2,1,1,1,6
course,10,4,12,16,4,15,12,17,2,8,5,15,5,5,11,15,10,3,10,9
attendence_daytime,1,1,1,1,1,1,1,0,1,1,1,1,1,1,1,1,1,0,1,1
qualification_previous,1,3,1,1,1,1,1,1,1,1,1,1,1,3,1,1,1,1,1,1
nationality,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
qualification_mother,22,3,13,13,22,1,23,23,22,13,1,13,1,22,13,19,1,19,1,23
qualification_father,27,3,27,1,27,14,27,3,28,27,1,1,1,27,14,24,14,24,28,28
occupation_mother,10,7,6,32,5,5,6,6,10,2,2,4,4,8,5,1,5,1,5,10
occupation_father,10,3,8,16,8,2,8,4,10,10,6,10,5,8,6,1,5,1,10,10
displaced_yes,1,1,1,1,0,1,1,0,1,1,0,1,1,0,0,1,0,1,0,1
special_needs_yes,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
debtor_yes,0,0,0,0,1,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0
tuition_fees_up_to_date,1,1,1,1,0,1,1,1,1,1,1,1,1,0,1,1,1,1,1,1
gender_male,0,1,0,0,1,0,1,1,1,1,0,0,1,1,1,0,0,0,0,0
scholarship_holder,0,0,0,0,0,0,1,0,0,0,1,1,0,0,0,0,0,0,1,0
age_enrollment,18,29,28,20,32,18,18,24,18,22,22,18,19,30,20,27,19,27,19,20
international_student_yes,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
curricular_units_1_credited,0,1,12,0,0,0,0,3,0,0,0,0,0,0,0,4,0,0,3,0
curricular_units_1_enrolled,6,6,17,7,6,6,7,10,0,5,6,6,6,6,6,8,6,6,6,5
curricular_units_1_evaluations,9,10,21,8,8,7,7,15,0,9,7,6,6,6,7,11,6,11,6,8
curricular_units_1_approved,4,6,17,6,3,6,7,7,0,2,6,6,5,1,6,7,6,4,6,4
curricular_units_1_grade,11.5,17.111111,13.394737,13.5,13.0,12.571429,13.462857,10.714286,0.0,10.5,12.166667,13.666667,11.4,10.0,13.857143,13.285714,14.666667,12.25,15.5,12.0
curricular_units_1_without_evaluations,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
curricular_units_2_credited,0,2,11,0,4,0,0,3,0,0,0,0,0,0,0,4,0,0,2,0
curricular_units_2_enrolled,6,6,17,7,10,6,8,10,0,5,6,6,6,6,6,7,6,6,6,5
curricular_units_2_evaluations,10,9,19,8,14,6,8,11,0,5,9,6,8,6,7,13,7,16,7,8
curricular_units_2_approved,4,6,17,6,6,6,8,9,0,0,4,6,1,0,5,5,6,3,6,5
curricular_units_2_grade,10.75,15.571429,13.554737,14.0,11.428571,13.666667,13.90625,12.555556,0.0,0.0,12.0,14.666667,10.0,0.0,12.8,11.6,14.571429,12.0,13.571429,11.2
curricular_units_2_without_evaluations,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
umemployment_rate,7.6,13.9,16.2,11.1,16.2,13.9,11.1,12.4,7.6,12.7,9.4,16.2,10.8,15.5,16.2,9.4,15.5,7.6,13.9,11.1
inflation_rate,2.6,-0.3,0.3,0.6,0.3,-0.3,0.6,0.5,2.6,3.7,-0.8,0.3,1.4,2.8,0.3,-0.8,2.8,2.6,-0.3,0.6
GDP,0.32,0.79,-0.92,2.02,-0.92,0.79,2.02,1.79,0.32,-1.7,-3.12,-0.92,1.74,-4.06,-0.92,-3.12,-4.06,0.32,0.79,2.02
target,Enrolled,Graduate,Graduate,Enrolled,Dropout,Graduate,Graduate,Enrolled,Dropout,Dropout,Graduate,Graduate,Enrolled,Dropout,Graduate,Dropout,Graduate,Dropout,Graduate,Graduate
Dropout,0,0,0,0,1,0,0,0,1,1,0,0,0,1,0,1,0,1,0,0

In [140]:
df.groupby('target')[sem1_columns].mean().T

target                                   Dropout   Enrolled   Graduate
curricular_units_1_credited             0.609430   0.507557   0.847442
curricular_units_1_enrolled             5.821253   5.964736   6.669534
curricular_units_1_evaluations          7.751583   9.341310   8.276596
curricular_units_1_approved             2.551724   4.318640   6.232232
curricular_units_1_grade                7.256656  11.125257  12.643655
curricular_units_1_without_evaluations  0.192118   0.177582   0.088275

---

# tttt

#### <span style="color:green"> Variable: application_order </span>

In [39]:
# Categories vs target variable
df.groupby('marital_status')['Dropout'].agg(['sum', 'count', 'mean']).sort_values('sum', ascending=False)

                 sum  count      mean
marital_status
1               1184   3919  0.302118
2                179    379  0.472296
4                 42     91  0.461538
5                 11     25  0.440000
6                  4      6  0.666667
3                  1      4  0.250000